In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('Amazon.csv', low_memory=False)

In [15]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [17]:
# List of columns to retain
columns_to_keep = ['Order ID', 'Status', 'Category', 'Size', 'Qty', 'ship-state']

# Rename columns for clarity
columns_rename = {'Order ID': 'Order', 'ship-state': 'State'}

# Retain only the specified columns
df = df[columns_to_keep]

# Rename the columns
df.rename(columns=columns_rename, inplace=True)

# Save to a new CSV file
df.to_csv('order.csv', index=False)

print("New CSV file 'order.csv' created successfully.")

C:\Users\Admin\AppData\Local\Temp\ipykernel_12004\2154354236.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=columns_rename, inplace=True)

New CSV file 'order.csv' created successfully.

In [19]:
# Keep only the first 20 rows
df = df.iloc[:20]

# Save to a new CSV file
df.to_csv('order.csv', index=False)

print("New CSV file 'order.csv' with first 20 rows created successfully.")

New CSV file 'order.csv' with first 20 rows created successfully.